.app-window {
  position: absolute;
  display: flex;
  flex-direction: column;
  cursor: default !important;
  z-index: 3;

  &:not(.active) {
    box-shadow: none;
  }

  .title-bar {
    cursor: default !important;
    user-select: none;
  }

  .app-window-body {
    flex: 1;

    .app-window-content {
      pointer-events: none;
    }
  }
}
