.app-window {
  position: absolute;
  display: flex;
  flex-direction: column;
  cursor: default !important;
  z-index: 1;

  .title-bar {
    cursor: default !important;
    user-select: none;
  }

  .window-body {
    flex: 1;
  }
}
