@import "7.css/dist/7.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100%;
  width: 100%;
}

.window.glass::before {
  top: 0;
  left: 0;
  border-radius: 5px;
}

.window.glass.clean::before {
  background: none;
}

button {
  pointer-events: initial;
}

p {
  margin: 0;
}