.start-menu-button {
  position: relative;
  user-select: none;

  .start-menu-button-content {
    position: relative;
    height: 38px;
    width: 62px;

    .hover,
    .active {
      opacity: 0;
    }

    &:hover .hover {
      opacity: 1;
    }

    &:hover .default,
    &:hover .active {
      opacity: 0;
    }

    &:active .active {
      opacity: 1;
    }
    &:active .default,
    &:active .hover {
      opacity: 0;
    }

    .start-menu-button-icon {
      transition: 0.2s;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }
}
