.start-menu {
  width: 411px;
  height: 476px;
  position: absolute;
  bottom: calc(100% + 2px);
  left: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: none;
  padding: 7px;

  &::before {
    background-color: black !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  .start-menu-content {
    height: 100%;
    width: 250px;
    background-color: white;
    box-shadow: none;
  }
}
